<div id="main-content">
	
	<div id="full-content-bubble">
		
		<div id="full-content">
			
			<h2>Hello, <%= @user.name %></h2>
			<p></p> <br />
		
		</div><!-- end full-content -->
	
	</div><!-- end full-content-bubble -->	

</div><!-- end main-content -->