<div id="main-content">
	
	<div id="full-content-bubble">
		
		<div id="full-content">
			
			<p><%= @user.name %>, <%= @user.email %></p> <br />
		
		</div><!-- end full-content -->
	
	</div><!-- end full-content-bubble -->	

</div><!-- end main-content -->