
	<div id="main-content">
		
		<div id="full-content-bubble">
			
			<div id="full-content">
				
				<h2>The Absolute Cure From Ugly WordPress Themes</h2>
				
				<hr>
				
				<p>Want to find a beautiful WordPress theme, but don't feel like going through a bunch websites to find it? Well, you're not alone...</p><br />
				
				<h2>The pain of finding the perfect WordPress theme.</h2>
				<p>Let's face it. Design has become a important factor to consider when creating a new brand. The days it was acceptable to design websites with HTML tables or Microsoft Frontpage are long gone. Thankfully, WordPress has made it easy to set up a website within minutes. But this leaves you with one problem... The default theme isn't going to cut it. Your visitors expect a beautiful professional looking website when they land on your page. Now, because of this, you find yourself spending days browsing through the endless sea of theme sites looking for that perfect theme. It pretty much goes like this... You find a great looking theme but it doesn't have the right features or you find a theme full of features but it doesn't look so great.</p> <br />
				
				<h2>Finding the needle in the haystack.</h2>
				<p>Your time isn't just minutes, hours, and days it's the life line of your business. The time you put in is what you get out. Wasting time on finding the right theme should be used building your business. What if we told you, you can have a personal assistant that combs through piles of themes and brings them all in one central place for your picking? Well you can...</p><br /> 
				
				<h2>In comes Beautifulwp.</h2>	
				<p>As heavy WordPress users ourselves, we were exactly where you are now. Wasting valuable time. Looking for themes that have all the functionality we need but also look pretty doing it. We tried different tools but nothing measured up for what we needed. Instead of helping, they actually made us waste more time. Thus <strong>Beautifulwp</strong> was born. A WordPress Theme Gallery providing you with a collection of beautiful premium WordPress themes in one central place at your finger tips.</p><br />
				
				<p>Find the perfect WordPress theme today!</p><br />
			    
			    <div class="button-container about_">

				<%= link_to "Go", root_path, :class => "submit-main about_1"  %>

				</div><!-- end button-container -->
				
				
			</div><!-- end full-content -->
			<div class="clear"></div>
		</div><!-- end full-content-bubble -->	
	
	</div><!-- end main-content -->
	
