<div id="main-content">
	
	<div id="full-content-bubble">
		
		<div id="full-content">
			
			<h2>Advertise With Us</h2>
			
			<hr>
			
			<p>If you are interested in advertising with Beautifulwp please email us at <a href="mailto:ads@beautifulwp.com">ads@beautifulwp.com</a></p><br />
			
			<p>All spam will be ignored.</p><br />
			
		</div><!-- end full-content -->
	</div><!-- end full-content-bubble -->	

</div><!-- end main-content -->