
	<div id="main-content">
		
		<div id="full-content-bubble">
			
			<div id="full-content">
				
				<h2>Get In Touch With Us</h2>
				
				<hr>
				
				<p><strong>Users</strong></p>
				<p>Here at Beautifulwp, we love hearing feedback. If you have a comment, suggestion, any problems, or you want to tell us how much you love the site you can email us at <a href="mailto:feedback@beautifulwp.com">feedback@beautifulwp.com</a>.</p><br />
				<p><strong>Before you email us</strong> please note that we don't sell WordPress themes that are showcased on our site unless they are branded by Beautifulwp as the author. If you have a question regarding a order you've made or a support issue you need to contact the author you purchased the theme from.</p><br />
				
				<p><strong>Theme Authors</strong></p>
				<p>If you're a theme designer and would like to see your latest theme included on our site. Email us at <a href="mailto:authors@beautifulwp.com?subject=My site listed on Beautifulwp">authors@beautifulwp.com</a> with the subject title "My Theme Listed On Beautifulwp - YOURTHEMENAME(do not put "YOURTHEMENAME" put the actual name of your theme). In the body of the email be sure to include a link to your theme, the theme title, the author name, 4 features, price, a description, and tags relevant to your theme. If you choose to not follow the instructions, your email won't trigger our filters and we may not respond. We get a substantial amount of emails from other theme authors it may take a while before we can get to you. Please be patient.</p><br />
				<p><strong>Before you email us</strong> please note that we don't except every theme that gets emailed to us. If your theme doesn't meet our standards it will not get approved to be added to our showcase.</p><br />
				
				<p><strong>Press</strong></p>
				<p>If you're a member of the press and want to set up an interview or need more information on the site or its creators, email us at <a href="mailto:press@beautifulwp.com">press@beautifulwp.com</a>.</p><br />
				
				<p><strong>Advertise</strong></p>
				<p>If you are interested in advertising with Beautifulwp please email us at <a href="mailto:ads@beautifulwp.com">ads@beautifulwp.com</a></p><br />
				
				<p><strong>Note:</strong> Spammers will be ignored.</p><br />
				
			
			</div><!-- end full-content -->
		
		</div><!-- end full-content-bubble -->	
	
	</div><!-- end main-content -->

