<div id="navigation-top">
		
		<div class="inner">
			
			<div id="logo"><h1><a href="#">Beautifulwp</a></h1></div>
			
			<div id="navbar">
			
			<ul id="nav">
			
				<li><a href="index.html">Home</a></li>
				
				<li><a href="about.html">About</a></li>
				
				<li><a href="#">Submit</a></li>
				
				<li><a href="#">Categories</a>
					
					<ul id="nav-sub">
    
                      		<li class="first"><a href="#">Business</a></li>
    
                      		<li><a href="#">Creative</a></li>
    
                      		<li><a href="#">Retail</a></li>
                      		
                      		<li><a href="#">Mobile</a></li>
                      		
                      		<li class="lasts"><a href="#">Blog/Magazine</a></li>
    
                     </ul>
				</li>
				
				<li><a href="blog.html">Blog</a></li>
				
				<li class="border-r selected"><a href="#">Contact</a></li>
			
			</ul>
			
			</div>
			
			<div class="search-box">
		
				<form class="search-form" action="#">
	
					<input id="s" class="text" type="text" value="Search" name="s" />

					<input class="submit" type="submit" value="Go" />
	
				</form>
					
			</div><!-- end search box -->
			
		</div><!-- end nav-inner -->
	
	</div><!-- end navigation -->
	
	<div class="clear"></div>
	
	<div id="main-content">
		
		<div id="full-content-bubble">
			
			<div id="full-content">
				
				<h2>Get In Touch With Us</h2>
				
				<hr>
				
				<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p> </br>
				
				<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p></br>
				
				<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p></br>
				
				<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p></br>
				
				<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p></br>
				
				<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p></br>
			
			</div><!-- end full-content -->
		
		</div><!-- end full-content-bubble -->	
	
	</div><!-- end main-content -->
	
	<div class="clear"></div>
	
	<div id="footer">
	
		<div class="inner">
			
			<span id="copyright">Copyright &copy; 2011 Beautifulwp.</span>
			
			<div id="footer-nav">
				
				<ul id="footer-ul">
				
					<li><a href="#">About</a></li>
					
					<li><a href="#">Submit</a></li>
					
					<li><a href="#">Privacy</a></li>
					
					<li><a href="#">Terms Of Use</a></li>
					
					<li><a href="#">Beautiful Wordpress Themes</a></li>
					
					<li class="lt"><a href="#">Contact</a></li>
				
				</ul>
			
			</div><!-- end footer-nav -->
			
		</div><!-- end inner -->
		
	</div>
