	
	<div id="main-content">
	
		<div id="left-content">
			
			<div id="main-bubble">

				<%= render 'layouts/main_bubble' %>

				<div class="clear"></div>

			</div><!-- end main-bubble -->
			
		<%= render 'layouts/leftcontent' %>
		
		</div><!-- end left-content -->
		
		<div id="sidebar">
			
		<%= render 'layouts/sidebar' %>
				
		</div><!-- end sidebar -->
	
	</div><!-- end main-content -->
	
