	
	<div id="main-content">
	
		<div id="left-content">
			
		<%= render 'layouts/leftcontent' %>
		
		</div><!-- end left-content -->
		
		<div id="sidebar">
			
		<%= render 'layouts/sidebar' %>
				
		</div><!-- end sidebar -->
	
	</div><!-- end main-content -->
	
