	<div id="navigation-top">	
		
		<%= render 'layouts/navigation' %>
	
	</div><!-- end navigation-top -->
	
	<div class="clear"></div>
	
	<div id="main-content">
	
		<div id="left-content">
			
		<%= render 'layouts/leftcontent' %>
		
		</div><!-- end left-content -->
		
		<div id="sidebar">
			
		<%= render 'layouts/sidebar' %>
				
		</div><!-- end sidebar -->
	
	</div><!-- end main-content -->
	
	<div class="clear"></div>
	
	<div id="footer">
		
		<%= render 'layouts/footer' %>
	
	</div><!-- end footer -->