	<div id="navigation-top">
		
		<div class="inner">
			
			<div id="logo"><h1><a href="#">Beautifulwp</a></h1></div>
			
			<div id="navbar">
			
			<ul id="nav">
			
				<li class="selected"><a href="#">Home</a></li>
				
				<li><a href="about.html">About</a></li>
				
				<li><a href="#">Submit</a></li>
				
				<li><a href="#">Categories</a>
					
					<ul id="nav-sub">
    
                      		<li class="first"><a href="#">Business</a></li>
    
                      		<li><a href="#">Creative</a></li>
    
                      		<li><a href="#">Retail</a></li>
                      		
                      		<li><a href="#">Mobile</a></li>
                      		
                      		<li class="lasts"><a href="#">Blog/Magazine</a></li>
    
                     </ul>
				</li>
				
				<li><a href="blog.html">Blog</a></li>
				
				<li class="border-r"><a href="contact.html">Contact</a></li>
			
			</ul>
			
			</div>
			
			<div class="search-box">
		
				<form class="search-form" action="#">
	
					<input id="s" class="text" type="text" value="Search" name="s" />

					<input class="submit" type="submit" value="Go" />
	
				</form>
					
			</div><!-- end search box -->
			
		</div><!-- end nav-inner -->
	
	</div><!-- end navigation -->
	
	<div class="clear"></div>
	
	<div id="main-content">
	
		<div id="left-content">
	
			<div id="main-bubble">
				
				<h2>Beautifulwp helps you find beautiful Wordpress themes.</h2>
				
				<p>Showcasing beautiful business, creative, retail, mobile &amp; blog/magazine wordpress themes from all over the internet.</p>
				
				<div id="social-main">
				
					<span id="facebook">Facebook</span>
					
					<span id="twitter">Twitter</span>
				
				</div><!-- end social-main -->
				
				<div class="clear"></div>
			
			</div><!-- end main-bubble -->
			
			<div class="inner">
			
				<div class="theme-main">
					
					<div class="theme-main-left">
					
					<div class="title"><h3><a href="show.html">Studeo</a></h3></div>
					
					<span class="author-main"><a href="show.html">by Orman Clark</a></span>
					
				</div><!-- end theme-main-left -->
				
				<div class="theme-main-right">
					
					<span class="main-pricing"><strong>$35</strong> from <a href="#">Themeforest</a></span>
					
					<span class="get-it"><a href="#">Get it</a></span>
					
				</div><!-- end theme-main-right -->
				
				<div class="clear"></div>
					
					<hr />
					
					<div class="theme-main-img"><a href="#"><img src="/images/theme1.jpg" alt="Studeo" /></a></div>
						
				</div><!-- end theme-main -->
				
				<div class="theme-main lts">
					
					<div class="theme-main-left">
						
						<div class="title"><h3><a href="#">Amuse</a></h3></div>
						
						<span class="author-main"><a href="#">by Allur</a></span>
						
					</div><!-- end theme-main-left -->
					
					<div class="theme-main-right">
						
						<span class="main-pricing"><strong>$35</strong> from <a href="#">Themeforest</a></span>
						
						<span class="get-it"><a href="#">Get it</a></span>
						
					</div><!-- end theme-main-right -->
						
						<div class="clear"></div>
						
						<hr />
						
						<div class="theme-main-img"><a href="#"><img src="/images/theme2.jpg" alt="Amuse" /></a></div>
					
				</div><!-- end theme-main -->
				
				<div class="theme-main">
					
					<div class="theme-main-left">
					
						<div class="title"><h3><a href="#">Simpl</a></h3></div>
						
						<span class="author-main"><a href="#">by Allur</a></span>
					
				    </div><!-- end theme-main-left -->
				
					<div class="theme-main-right">
						
						<span class="main-pricing"><strong>$35</strong> from <a href="#">Themeforest</a></span>
						
						<span class="get-it"><a href="#">Get it</a></span>
						
					</div><!-- end theme-main-right -->
					
					<div class="clear"></div>
					
					<hr />
					
					<div class="theme-main-img"><a href="#"><img src="/images/theme3.jpg" alt="Simpl" /></a></div>
					
				</div><!-- end theme-main -->
				
				<div class="theme-main lts">
					
					<div class="theme-main-left">
					
						<div class="title"><h3><a href="#">Memo</a></h3></div>
						
						<span class="author-main"><a href="#">by Orman Clark</a></span>
						
					</div><!-- end theme-main-left -->
				
					<div class="theme-main-right">
						
						<span class="main-pricing"><strong>$35</strong> from <a href="#">Themeforest</a></span>
						
						<span class="get-it"><a href="#">Get it</a></span>
						
					</div><!-- end theme-main-right -->
					
					<div class="clear"></div>
					
					<hr />
					
					<div class="theme-main-img"><a href="#"><img src="/images/theme4.jpg" alt="Memo" /></a></div>
					
				</div><!-- end theme-main -->
				
				<div class="theme-main">
					
					<div class="theme-main-left">
					
					<div class="title"><h3><a href="#">Prolific</a></h3></div>
					
					<span class="author-main"><a href="#">by Allur</a></span>
					
				</div><!-- end theme-main-left -->
				
				<div class="theme-main-right">
					
					<span class="main-pricing"><strong>$35</strong> from <a href="#">Themeforest</a></span>
					
					<span class="get-it"><a href="#">Get it</a></span>
					
				</div><!-- end theme-main-right -->
					
					<div class="clear"></div>				
					<hr />
					
					<div class="theme-main-img"><a href="#"><img src="/images/theme5.jpg" alt="Prolific" /></a></div>
					
				</div><!-- end theme-main -->
				
				<div class="theme-main lts">
					
					<div class="theme-main-left">
					
						<div class="title"><h3><a href="#">The Cotton</a></h3></div>
						
						<span class="author-main"><a href="#">by Pexeto</a></span>
					
					</div><!-- end theme-main-left -->
				
					<div class="theme-main-right">
						
						<span class="main-pricing"><strong>$35</strong> from <a href="#">Themeforest</a></span>
						
						<span class="get-it"><a href="#">Get it</a></span>
						
					</div><!-- end theme-main-right -->
					
					<div class="clear"></div>
					
					<hr />
					
					<div class="theme-main-img"><a href="#"><img src="/images/theme6.jpg" alt="The Cotton" /></a></div>
					
				</div><!-- end theme-main -->
				
				<div class="theme-main">
					
					<div class="theme-main-left">
					
						<div class="title"><h3><a href="#">Element</a></h3></div>
						
						<span class="author-main"><a href="#">by Alex Pascal</a></span>
						
					</div><!-- end theme-main-left -->
				
					<div class="theme-main-right">
						
						<span class="main-pricing"><strong>$35</strong> from <a href="#">Themeforest</a></span>
						
						<span class="get-it"><a href="#">Get it</a></span>
						
					</div><!-- end theme-main-right -->
					
					<div class="clear"></div>
					
					<hr />
					
					<div class="theme-main-img"><a href="#"><img src="/images/theme7.jpg" alt="Element" /></a></div>
					
				</div><!-- end theme-main -->
				
				<div class="theme-main lts">
					
					<div class="theme-main-left">
					
						<div class="title"><h3><a href="#">Studeo</a></h3></div>
						
						<span class="author-main"><a href="#">by Orman Clark</a></span>
					
					</div><!-- end theme-main-left -->
				
					<div class="theme-main-right">
						
						<span class="main-pricing"><strong>$35</strong> from <a href="#">Themeforest</a></span>
						
						<span class="get-it"><a href="#">Get it</a></span>
						
					</div><!-- end theme-main-right -->
					
					<div class="clear"></div>
					
					<hr />
					
					<div class="theme-main-img"><a href="#"><img src="/images/theme1.jpg" alt="Studeo" /></a></div>
					
				</div><!-- end theme-main -->
			
			</div><!-- end inner -->
			
			<div class="clear"></div>
			
			<div id="pagination">
				
				<span class="pages">Page 1 of 5</span>
				
				<span class="current">1</span>
				
				<span class="not-current"><a href="#">2</a></span>
				
				<span class="not-current"><a href="#">3</a></span>
				
				<span class="not-current"><a href="#">4</a></span>
				
				<span class="not-current"><a href="#">5</a></span>
				
				<span class="not-current"><a href="#">Last &raquo;</a></span>
			
			</div><!-- end pagination -->
		
		</div><!-- end left-content -->
		
		<div id="sidebar">
			
			<!-- <a class="submit-main" href="#"><span>Submit Your Theme</span></a>  -->
			
			<div class="ad125">
				
				<img src="/images/ad1.png" alt="ad1" />
			
			</div><!-- end ad125 -->
			
			<div class="ad125o">
				
				<img src="/images/ad2.png" alt="ad2" />
			
			</div><!-- end ad125 -->
			
			<div class="ad125">
				
				<img src="/images/ad3.png" alt="ad3" />
			
			</div><!-- end ad125 -->
			
			<div class="ad125o">
				
				<img src="/images/ad4.png" alt="ad4" />
			
			</div><!-- end ad125 -->
			
			
		</div><!-- end sidebar -->
	
	</div><!-- end main-content -->
	
	<div class="clear"></div>
	
	<div id="footer">
	
		<div class="inner">
			
			<span id="copyright">Copyright &copy; 2011 Beautifulwp.</span>
			
			<div id="footer-nav">
				
				<ul id="footer-ul">
				
					<li><a href="#">About</a></li>
					
					<li><a href="#">Submit</a></li>
					
					<li><a href="#">Privacy</a></li>
					
					<li><a href="#">Terms Of Use</a></li>
					
					<li><a href="#">Beautiful Wordpress Themes</a></li>
					
					<li class="lt"><a href="#">Contact</a></li>
				
				</ul>
			
			</div><!-- end footer-nav -->
			
		</div><!-- end inner -->
		
	</div>