<div id="main-content">

	<div id="left-content">
		
		<div id="main-bubble">

			<h2 class="tagged-show">Themes tagged with <%= params[:id] %></h2>

			<div class="clear"></div>

		</div><!-- end main-bubble -->
		
		<%= render 'tag' %>
	
	</div><!-- end left-content -->
	
	<div id="sidebar">
		
	<%= render 'layouts/sidebar' %>
			
	</div><!-- end sidebar -->

</div><!-- end main-content -->
