<div class="inner">
	
	<span id="copyright">Copyright &copy; 2011 Beautifulwp.</span>
	
	<div id="footer-nav">
		
		<ul id="footer-ul">
		
			<li><%= link_to "About", about_path %></li>
			
			<li><%= link_to "Submit", submit_path %></li>
			
			<li><a href="#">Privacy</a></li>
			
			<li><a href="#">Terms Of Use</a></li>
			
			<li><a href="#">Beautiful Wordpress Themes</a></li>
			
			<li class="lt"><%= link_to "Contact", contact_path %></li>
		
		</ul>
	
	</div><!-- end footer-nav -->
	
</div><!-- end inner -->