<h2>Beautifulwp helps you find beautiful Wordpress themes.</h2>

<p>Showcasing beautiful business, creative, retail, mobile &amp; blog/magazine wordpress themes from all over the internet.</p>

<div id="social-main">

	<span id="facebook">Facebook</span>

	<span id="twitter">Twitter</span>

</div><!-- end social-main -->