<!-- <h2>Beautifulwp helps you find beautiful Wordpress themes.</h2> -->

<h2>Finding the best Wordpress themes just became easier.</h2>

<p>Beautifulwp showcases beautiful business, creative, ecommerce, mobile &amp; blog/magazine WordPress themes. <%= link_to 'Learn more.', about_path %></p>

<div id="social-main">

	<!--<span id="facebook">Facebook</span> -->
	
	<div id="facebook">
	<iframe src="//www.facebook.com/plugins/like.php?href=http%3A%2F%2Fwww.beautifulwp.com&amp;send=false&amp;layout=button_count&amp;width=55&amp;show_faces=false&amp;action=like&amp;colorscheme=light&amp;font&amp;height=21" scrolling="no" frameborder="0" style="border:none; overflow:hidden; width:55px; height:20px;" allowTransparency="true"></iframe>
	</div>
	
	<div id="twitter"><a href="https://twitter.com/share" class="twitter-share-button" data-url="http://www.beautifulwp.com" data-text="Finding beautiful Wordpress themes just became easier. @beautiful_wp" data-count="none">Tweet</a><script type="text/javascript" src="//platform.twitter.com/widgets.js"></script>
	</div>
   
	<!--<span id="twitter">Twitter</span> -->

</div><!-- end social-main -->