<div class="ad125">
	
	<a href="http://codecanyon.net?ref=beautifulwp" target="_blank"><img src="/images/ad1.png" alt="ad1" /></a>

</div><!-- end ad125 -->

<div class="ad125o">
	
	<a href="http://themeforest.net?ref=beautifulwp" target="_blank"><img src="/images/ad2.png" alt="ad2" /></a>

</div><!-- end ad125 -->

<div class="ad125">
	
	<a href="http://graphicriver.net?ref=beautifulwp" target="_blank"><img src="/images/ad3.png" alt="ad3" /></a>

</div><!-- end ad125 -->

<div class="ad125o">
	
	<a href="http://marketplace.tutsplus.com/?ref=beautifulwp" target="_blank"><img src="/images/ad4.png" alt="ad4" /></a>

</div><!-- end ad125 -->

<div class="clear"></div>

<div class="ad250">
	<script type="text/javascript"><!--
	google_ad_client = "ca-pub-1982159945321810";
	/* bwp250 */
	google_ad_slot = "0940685752";
	google_ad_width = 250;
	google_ad_height = 250;
	//-->
	</script>
	<script type="text/javascript"
	src="http://pagead2.googlesyndication.com/pagead/show_ads.js">
	</script>
</div><!-- end ad250 -->