<div class="ad125">
	
	<a href="http://codecanyon.net?ref=beautifulwp" target="_blank"><img src="/images/ad1.png" alt="Code Canyon" /></a>

</div><!-- end ad125 -->

<div class="ad125o">
	
	<a href="http://themeforest.net?ref=beautifulwp" target="_blank"><img src="/images/ad2.png" alt="Themeforest" /></a>

</div><!-- end ad125 -->

<div class="ad125">
	
	<a href="http://graphicriver.net?ref=beautifulwp" target="_blank"><img src="/images/ad3.png" alt="Graphic River" /></a>

</div><!-- end ad125 -->

<div class="ad125o">
	
	<a href="http://marketplace.tutsplus.com/?ref=beautifulwp" target="_blank"><img src="/images/ad4.png" alt="Premium Tutorials" /></a>

</div><!-- end ad125 -->

<div class="clear"></div>

<div class="ad260">
	
	<a href="http://www.wpthememill.com" target="_blank"><img src="/images/wpthememillad.png" alt="WP Thememill" /></a>
		
</div><!-- end ad250 -->

<div class="ad250">

</div><!-- end ad250 -->