<div class="ad125">
	
	<a href="http://codecanyon.net?ref=beautifulwp" target="_blank"><img src="/images/ad1.png" alt="ad1" /></a>

</div><!-- end ad125 -->

<div class="ad125o">
	
	<a href="http://themeforest.net?ref=beautifulwp" target="_blank"><img src="/images/ad2.png" alt="ad2" /></a>

</div><!-- end ad125 -->

<div class="ad125">
	
	<a href="http://graphicriver.net?ref=beautifulwp" target="_blank"><img src="/images/ad3.png" alt="ad3" /></a>

</div><!-- end ad125 -->

<div class="ad125o">
	
	<a href="http://marketplace.tutsplus.com/?ref=beautifulwp" target="_blank"><img src="/images/ad4.png" alt="ad4" /></a>

</div><!-- end ad125 -->